* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #0D0D0D;
    font-family: 'Quicksand', sans-serif;
  }

/*Spinner by https://codepen.io/iamsantoshah/pen/qBqMygv*/
  .spinner {
    display: none;
    width: 10em;
    height: 10em;
    border-top: 1em solid #d5fff7;
    border-right: 1em solid transparent;
    animation: spinner 0.4s linear infinite;
    border-radius: 50%;
    margin: 1rem auto;
  }
  .head {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-left: 8.5em;
    margin-top: 0.5em;
    background-color: #d5fff7;
  }
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

/*Header*/

header {
    width: 100%;
    background-color: #D92332;
    color: #FFF;
    text-align: center;
    padding: 0.5rem 0;
}

section {
    color: #FFF;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

section h2 {
    margin-bottom: 1rem;
}

section select {
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    background-color: #400101;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    width: 10rem;
}

section .dog-image {
  display: none;
}

section .show {
    display: block;
    margin: 1rem;
}